@using OTProyect.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sistema de Alerta Temprana</title>
    @Styles.Render("~/bundles/css")
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
                <div class="row w-100">
                    <div class="col-lg-4 mx-auto">
                        <div class="auto-form-wrapper">
                            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <h1 class="display-3" style="text-align: center; text-decoration:solid; color: rgb(17, 196, 17);">Sistema de Alerta Temprana</h1>
                                    <hr/>
                                    <h5 style="text-align:center" >Ordenamiento territorial</h5>
                                    <div align="center"><img style="align-items: center;" src="~/assets/images/logoineter2.png"></div>  <br>
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <label class="label">Usuario</label>
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Nombre de usuario" })
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="mdi mdi-check-circle-outline"></i>
                                            </span>
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label class="label">Contraseña</label>
                                    <div class="input-group">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder="******************" })
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="mdi mdi-check-circle-outline"></i>
                                            </span>
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary submit-btn btn-block"><span style="font-size:x-large">Acceder</span></button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    
</body>
</html>

